.tabs_wrapper{
    border: 1px solid #ccc;
    width: 1000px;
    margin-bottom: 20px;
}
.tabheader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &__item{
        padding: 8px 15px;
        background-color: #f8f8f8;
        &-show{
            background-color: #ccc;
        }
    }
}

.tabcontent__item{
    padding: 8px;
    display: none;
    &-show{
        display: block;
    }
}